div#footer {
  position:fixed;
  bottom:0px;
  left:0px;
  width:100%;
  color:#CCC;
  background:#333;
  padding:8px;
}

html, body {
  height: 95%;
}
#main-container {
  background-color: aliceblue;
  border-radius: 10px;
  max-width: 900px;
  min-width: 400px;
  height: 100%;
}

.stylist-container {
  background-color: rgb(146, 238, 238);
  border-radius: 10px;
  width: 18%;
  padding: 10px;
  margin: 0px 10px;
  text-align: center;
}