@{
  Layout = "_Layout";
}
<h1 class="py-1">Hair Salon Manager</h1>
<hr />
<div class="my-4">
  <p>Your all-in-one salon management application.</p>
</div>


@Html.ActionLink("View Stylists", "Index", "Stylists", new{}, new { @class = "btn btn-outline-primary" })
@Html.ActionLink("View Clients", "Index", "Clients", new{}, new { @class = "btn btn-outline-primary" })